.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cell {
  background: #fff;
  border: 1px solid red;
  float: left;
  line-height: 150px;
  height: 150px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.notChecked{
  border: 1px solid red;
}

.checked{
  border:1px solid green;
  background: green;
}

.hidden {
  background: #7e7b92;
}

.clear {
  clear: both;
  content: ""
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
